:root {
    --outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header {
    border: none;
    text-align: center;
    font-family: 'Coda', cursive;
    text-shadow: var(--outline);
}

nav {
    color: white;
    font-family: 'Coda', cursive;
    text-shadow: var(--outline); 
}

a {
    padding: 5px;
}

a:hover {
    background-color: darkred;
    padding: 5px;
}

body {
    text-align: center;
}

p {
    color:white;
    text-shadow: var(--outline);
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

main{
    min-height: 850px;
    width: 100%;
    position:relative; 
    top: 0; 
    left: 0;
    padding: 30px;
}

img {
    float: right; 
    margin: 5px;
    max-height: 350px;
}